.cartContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    background-color: #060606;
    padding: 10px;
    border-radius: 12px;
    color: #f6f0f0;
}

.cartContent > img{
    height: auto;
    width: 200px;
    text-align: center;
    border-radius: 12px;
}

.cartTotal{
    text-align: center;
}

.cart-mensaje{
    text-align: center;
    margin-top: 3rem;
}

.counter-button{
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
    transition: color .2s ease;
}

.counter-button:hover{
    color: red;
}

.delete-card{
    cursor: pointer;
}