.carta{
    text-align: center;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    background-color: #d2dfd054;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 3rem;
}

.carta-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    
}

.carta-info h2{
    margin: .5rem 0;
}

.carta-info p{
    margin-bottom: .5rem;
}

.carta-info button{
    border: 1px solid black;
    outline: none;
    padding: .5rem .3rem;
    margin-bottom: .8rem;
    transition: all .3s ease;
    cursor: pointer;
}

.carta-info button:hover{
    background-color: black;
    color: #fff;
}

.botones{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.boton__1{
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}